<h1>Admin</h1>

<%= render 'users/current_user' %>

<h2>Users</h2>
<%= link_to 'Edit', admin_users_path %>
<%= link_to 'Add', new_admin_user_path %>
<h2>Events</h2>
<%= link_to 'Edit', admin_events_path%>
<%= link_to 'Add', new_admin_event_path%>
<h2>Groups</h2>
<%= render 'admin/groups/list'%>
<br>
<%= link_to 'Add', new_admin_group_path %>

