<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1> Welcome <%= link_to 'Admin', admin_path %></h1>
  <br>
  <br>
    <%= yield %>
  <br>
  <%= link_to 'Logout', '/logout'%>
  </body>
</html>