<!DOCTYPE html>
<html>
  <head>
    <title>Tasker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header_links">
  <%= link_to "Home", "/" %>
  </div>
  </header>
  <br>
  <br>
  <div class="body_content">
    <%= yield %>
  </div>
  <br>
  <br>
  <% if logged_in? %>
  <%= link_to 'Logout', '/logout'%>
  <% end %>
  </body>
</html>
